<%- model_class = Horario -%>
<div class="page-header">
  <h1>Horarios</h1>
</div>

<div class="row">
    <div class="span2"> 
    </div>
    <div class="span10">
      <%= form_tag request.path, :method => 'get' do %>
      <%= content_tag :label do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Consultar", :name => nil %>
     
      <% end %>
      <% end %>
    
  </div>
    

 <div class="row">
    <div class="span2"> 
</div>
<div class="span10">
<table class="table table-hover table-bordered table-condensed pretty">

  <thead>
    <tr >
      <th><%= sortable "id" %></th>
      <th>Fecha</th>
      <th>Hora</th>
       <th>Aula</th>
       <th>Curso</th>
       <th>Instructor</th>
       <th>materia</th>
    </tr>
  </thead>
  <tbody>
     <%= render @horarios %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to image_tag('nuevo.png', :tile  => "Mostrar Equipos"),  new_horario_path,  :remote => true %></td>
   
    </tr>
  </tfoot>
  <tfoot>
    <tr>
      <td>
    <b>Total Horarios</b>
  </td>
    <td>
    <%= @horarios.total_entries %>
  </td>
    </tr>
  </tfoot>
</table>
</div>

   <br />
  <br />
  <div align="center">
    <div class="pagination">
    </ul>
    <%= will_paginate @horarios, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
    &raquo;' %>
  </ul>
  </div>
</div>
