
<%- model_class = Curso -%>
<div class="page-header">
  <h1><%= link_to image_tag("universidad.png ")%>  Cursos</h1>
</div>
<div class="row">
    <div class="span2"> 
    </div>
    <div class="span12">
      <%= form_tag request.path, :method => 'get' do %>
      <%= content_tag :label do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Consultar", :name => nil %>
      <% end %>
      <% end %>
    
  </div>
 <div class="row">
    <div class="span4"> 
</div>
 <div class="span12">

<table class="table table-hover table-bordered table-condensed pretty ">
  <thead>
    <tr >
      <th><%= sortable "id" %></th>
      <th>Nombres</th>
      <th>fichas</th>
      <th>Instructor-Asignados</th>
    
       
    </tr>
  </thead>
  <tbody>
     <%= render @cursos %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to image_tag('nuevo.png', :tile  => "Mostrar Equipos"),  new_curso_path,  :remote => true %></td>
      
    </tr>
  </tfoot>
 <tfoot>
    <tr>
      <td>
    <b>Total Cursos</b>
  </td>
    <td>
    <%= @cursos.total_entries %>
  </td>
    </tr>
  </tfoot>
</table>
</div>
  <div align="center">
    <div class="pagination">
    </ul>
    <%= will_paginate @cursos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
    &raquo;' %>
  </ul>
  </div>
</div>
