<%- model_class = Instructor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='team'>
  <p><%= image_tag @instructor.avatar.url(:medium) %></p>
  <p>id: <%= @instructor.id %></p>
  <p>id: <%= @instructor.nombre %></p>
  <p>id: <%= @instructor.cedula %></p>
  <p>id: <%= @instructor.email %></p>
  <p>id: <%= @instructor.direccion %></p>
  <p>id: <%= @instructor.materia_id %></p>
 
</div>