
<ul class="nav">
<!-- if user_signed_in? %> -->
<li>
<li>
<%= link_to('Cursos', cursos_path) %>
</li>
</li>

<!-- else %> -->
<li>
<%= link_to('Instructores', instructores_path) %>
</li>
<!-- end %> -->
<!-- if user_signed_in? %> -->
<li>
<%= link_to('Materias', materias_path) %>
</li>
<!-- else %> -->
<li>
<%= link_to('Estudiantes', studiantes_path) %>
</li>

<li>
	<%= link_to image_tag("twitter.png"), :href => "https://twitter.com/" %>
</li>


<li>
<%= link_to image_tag("face.png"), :href => "https://twitter.com/" %>
</li>
<li>
<%= link_to image_tag("gmail.png"), :href => "https://twitter.com/" %>
</li>
<!-- end %> -->
</ul>